﻿
<h1>
    Óbudai egyetem edzőterme
    <small class="text-muted">(Még tervezés alatt)</small>
</h1>
<nav class="nav justify-content-center">
    <a class="btn btn-outline-primary" href="/Home/Init">Adatok hozzáadása</a>
    <a class="btn btn-outline-primary" href="/Home/ListTrainer">Edzők listája</a>
    <a class="btn btn-outline-primary" href="/Home/Statistics">Statisztikák</a>
    <a class="nav-link disabled" href="#">Login</a>
    <a class="nav-link disabled" href="#">Register</a>
    <a class="nav-link disabled" href="#">Admin</a>
    <a class="nav-link disabled" href="#">Protein bolt</a>
</nav>

<br />
<br />
<br />
<h4 class="index-page-cuccli">
    Legújabb hírek az óbudai edzőteremből
</h4>
<img src="@Url.Content("~/arnold1.png")" class="index-page-images" />
<br />
<img src="@Url.Content("~/arnold5.png")" class="index-page-images" />
<br />
<img src="@Url.Content("~/arnold2.png")" class="index-page-images" />
<br />
<img src="@Url.Content("~/arnold3.jpg")" class="index-page-images" />
<br />
<img src="@Url.Content("~/arnold4.jpg")" class="index-page-images" />



