﻿@model Models.Trainer

<h1>Az edző információinak megváltoztatása</h1>
<nav class="nav justify-content-center">
    <a class="btn btn-outline-primary" href="/Home/Index">Vissza a főoldalra</a>
    <a class="btn btn-outline-success" href="/Home/GetTrainer?trainerId=@Model.TrainerID">Vissza az edzőnkhöz</a>
    <a class="btn btn-outline-info" href="/Home/ListTrainer">Vissza az edzőkhöz</a>
</nav>

<form action="/Home/UpdateTrainer" method="post">
    <input type="text" value="@Model.TrainerName" name="TrainerName" />
    <br />

    <input class="form-control" type="text" value="TrainerID: @Model.TrainerID" disabled readonly>

    <input type="hidden" value="@Model.GymClients" name="GymClients" />
    <input type="hidden" value="@Model.TrainerID" name="TrainerID" />
    <input type="submit" name="Update" />
</form>
