﻿@model List<List<string>>
<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
        border: 1px solid black;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1>
    Óbudai egyetem edzőterme
    <small class="text-muted">(Selections)</small>
</h1>
<br />
<br />
<br />
<br />

<div class="row">
    <div class="column">
        <h2>Selected</h2>
        @foreach (var item in Model[0])
        {
            <p>@item</p>
            <br />
        }
    </div>
    <div class="column">
        <h2>Unselected</h2>
        @foreach (var item in Model[1])
        {
            <p>@item</p>
            <br />
        }
    </div>
</div>