﻿body {
    background-color: #adb5bd;
}

h1, h2, h3, h4{
    color: #0d6efd;
    text-align: center
}

.h4-GetTrainer {
    color: #0d6efd;
    text-align: left
}
.customGetTrainer {
    color: #150578;
    text-align: left;
    margin-right: auto;
}
.functionbutton {
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: black;
    background-color: #BCEDF6;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.index-page-cuccli {
    text-align: center;
    margin-bottom: 100px;
}
.index-page-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.li-listTrainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.list-group list-group-horizontal {
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.statistics {
    font-size: 22px;
    text-align: center;
    word-break: break-all;
    color: #e76f51;
    background-color: #264653;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}